body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: cornsilk;
    color: rgb(103, 103, 102);
    font-family: cabin;
}

.material-icons-outlined{
    vertical-align: middle;
    line-height: 1px;
}

.text-primary{
    color: rgb(25, 25, 25);
}
.text-blue{
    color: rgb(148, 148, 150);
}
.text-red{
    color: rgb(148, 148, 150);
}
.text-green{
    color: rgb(148, 148, 150);
}
.text-orange{
    color: rgb(148, 148, 150);
}
.font-weight-bold{
    font-weight: 300;
}

.grid-container{
    display: grid;
    grid-template-columns: 230px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";
    height: 200vh;
}

/* SIDEBAR */

#sidebar{
    grid-area: sidebar;
    height: 100%;
    background-color: rgb(248, 203, 250);
    color: rgb(53, 52, 52);
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.sidebar-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 2px 2px 2px;
    margin-bottom: 10px;
}
.sidebar-brand{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
}
.sidebar-list{
    padding: 0;
    margin-top: 5px;
    list-style-type: none;
}
.sidebar-list-item{
    padding: 2px 2px 2px 2px;
}
.sidebar-list-item:hover {
    background-color: rgb(202, 97, 158);
    cursor: pointer;
}
.sidebar-responsive{
    display: inline;
    position: absolute;
}

/* MAIN*/
.main-container{
    grid-area:main;
    overflow-y: auto;
    padding: 5px 5px;
}

.main-title{
    grid-area: main-title;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px 15px 5px;
}

.search-box{
    background: rgb(242, 232, 194);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px 4px;
}
.search-box input{
    background: transparent;
    padding: 10px;
    cursor:wait;
}

.main-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin: 0 1px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2);
}
.card:first-child{
    background-color: bisque;
    border: 1px rgb(35, 35, 35);
}
.card:nth-child(2){
    background-color: rgb(185, 196, 252);
    border: 1px rgb(44, 44, 44);
}
.card:nth-child(3){
    background-color: rgb(193, 250, 196);
    border: 1px rgb(35, 35, 35);
}
.card:nth-child(4){
    background-color: rgb(244, 195, 229);
    border: 1px rgb(35, 35, 35);
}
.card > span{
    font-size: 20px;
    font-weight: 600;
}
.card-inner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-inner > p {
    font-size: 15px;
}
.card-inner > span {
    font-size: 55px;
}
.card:hover{
    color: darkgrey;
    cursor: pointer;
}

.charts{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    margin: 5px 5px;
}
.charts-card{
    background-color: rgb(247, 246, 239);
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px rgb(189, 182, 155);
    border-radius: 5px;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2);
}
.chart-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 400;
}
.chart2-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 400;
}

.tabular-wrapper{
    background: #fff;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.table-container{
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}
.table-container:hover{
    background: darkgray;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    width: 100%;
    background-color: rgb(117, 174, 240);
    color: rgb(30, 30, 30);
}
th{
    padding: 15px;
    text-align: left;
    border-bottom: 1px darkgray;
}
tbody{
    width: 100%;
    background: rgb(161, 183, 247);
    column-width: 100%;
}
td{
    padding: 10px;
    font-size: 18px;
    color: rgb(32, 32, 32);
    border-bottom: 1px darkgray;
}
td:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
td:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
